/* Navbar.css */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  padding: 10px 20px;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-items {
  display: flex;
  align-items: center;
}

.cart-icon {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 20px;
}

.my-profile {
  display: flex;
  align-items: center;
}

.profile-link,
.login-link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1rem;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: underline;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.show {
  right: 0;
  display: block;
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}

.sidebar button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.go-to-checkout {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0;
  transition: background-color 0.3s ease;
}

.go-to-checkout:hover {
  background-color: #444;
}
